/* ===========Tool code start =========== */
#tool {
    padding: 300px 0;
}
.tool_heading {
    display: flex;
    column-gap: 176px;
    margin-bottom: 80px;
}
.tool_heading  h2 {
    width: 564px;
}
.tool_menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.tool_menu_item {
    padding: 24px 34px 48px 24px;
    border: 1px solid rgba(132, 84, 245, 0.40);
    width: 450px;
    border-radius: 30px;
    transition: all linear .3s;
}
.tool_menu_icon {
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.tool_icon_box {
    width: 70px;
    height: 70px;
    background-color: rgba(254, 195, 93, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.tool_icon_box i {
    font-size: 40px;
    color: #FEC35F;
}
.tool_menu_icon h4 {
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    color: var(--black);
    font-family: var(--font_open);
    text-transform: capitalize;
}
.tool_menu_cont p{
    width: 392px;
    margin: 16px 0 24px 0;
}
.tool_menu_cont a {
    color: var(--black);
    font-size: 20px;
    font-family: var(--font_nunito);
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
}
.tool_menu_item:hover {
    background-color: var(--orange2);
    border: 1px solid var(--orange2);
}
.tool_menu_item:hover .tool_icon_box {
    background-color: rgba(255, 255, 255, 0.317);
}
.tool_menu_item:hover .tool_icon_box i{
    color: var(--white);
}
.tool_menu_item:hover h4{
    color: var(--white);
}
.tool_menu_item:hover p{
    color: var(--white);
}
.tool_menu_item:hover a{
    color: var(--white);
}
.tool_menu_item:nth-child(2) .tool_icon_box{
    background-color: rgba(132, 84, 245, 0.195);
}
.tool_menu_item:nth-child(2) .tool_icon_box i{
    color: #8454F5;
}
.tool_menu_item:nth-child(3) .tool_icon_box{
    background-color: rgba(114, 245, 84, 0.195);
}
.tool_menu_item:nth-child(3) .tool_icon_box i{
    color: rgba(84, 245, 92, 0.563);
}
.tool_menu_item:nth-child(4) .tool_icon_box{
    background-color: rgba(132, 84, 245, 0.195);
}
.tool_menu_item:nth-child(4) .tool_icon_box i{
    color: #8454f57f;
}
.tool_menu_item:nth-child(5) .tool_icon_box{
    background-color: rgba(245, 103, 84, 0.195);
}
.tool_menu_item:nth-child(5) .tool_icon_box i{
    color: #f57454;
}
.tool_menu_item:nth-child(6) .tool_icon_box{
    background-color: rgba(245, 84, 245, 0.195);
}
.tool_menu_item:nth-child(6) .tool_icon_box i{
    color: #f554ed;
}
/* ===========Tool code end =========== */